<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <springProperty name="lokiEnabled" source="loki.enabled" />
    <springProperty name="lokiHost" source="loki.host" />
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>
    <if condition='${lokiEnabled} == true'>
        <then>
            <appender name="LOKI" class="com.github.loki4j.logback.Loki4jAppender">
                <http>
                    <url>http://${lokiHost}:3100/loki/api/v1/push</url>
                </http>
                <format>
                    <label>
                        <pattern>app=uzum-data-scrapper,host=${HOSTNAME},level=%level</pattern>
                    </label>
                    <message>
                        <pattern>l=%level h=${HOSTNAME} c=%logger{20} t=%thread | %msg %ex</pattern>
                    </message>
                    <sortByTime>true</sortByTime>
                </format>
            </appender>
            <root level="${logging.level.root:-INFO}">
                <appender-ref ref="LOKI"/>
            </root>
        </then>
        <else>
            <root level="${logging.level.root:-INFO}">
                <appender-ref ref="CONSOLE"/>
            </root>
        </else>
    </if>
</configuration>
